header {
    background-color: pink;
}
.float_left {
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    padding: 0 100px;
}
.center {
    width: 100%;
    background-color: skyblue;
}

.left {
    background-color: green;
    width: 100px;
    margin-left: -100%;
    position: relative;
    left: -100px;
}

.right {
    width: 100px;
    background-color: red;
    margin-right: -100px;
}

footer {
    background-color: pink;
}
